html,
body {
  width: 420px;
  height: 420px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
}

#indicators {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  color: #999;
}

#repo-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}